html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 100% is 16px, but we want the size to be 10px */
}

body {
    background-color: black;
    margin-bottom: 5rem;
}

.rows{
    font-size: 3rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
}

.image {
    border: .5rem solid rgb(230, 230, 230);
    border-radius: .7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: .8rem .8rem .4rem rgb(195, 195, 195);
}

#title {
    font-size: 15.5rem;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 6.5rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    font-family: 'Raleway', sans-serif;
}

.flavortext {
    font-size: 2rem;
    color: white;
    text-align: center;
}