html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 100% is 16px, but we want the size to be 10px */
}

body {
    background-color: black;
    margin-bottom: 5rem;
}

.rows{
    font-size: 3rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
}

.image {
    border: .5rem solid rgb(230, 230, 230);
    border-radius: .7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: .7rem .7rem .38rem rgb(195, 195, 195);
    transition: all 0.25s;
}

#title {
    font-size: 15.5rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2.5rem 2.5rem 0rem 2.5rem;
    font-family: 'Raleway', sans-serif;
}

.flavortext {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.rows:hover .image:not(:hover) 
{
    transform:scale(0.9);
    opacity: 0.35
}

.image-top:hover {
    transform: scale(1.1);
    outline: 1.1rem solid rgb(13, 156, 13);
}

.image-middle:hover {
    transform: scale(1.1);
    outline: 1.1rem solid rgb(126, 122, 122);
}

.image-bottom:hover {
    transform: scale(1.1);
    outline: 1.1rem solid rgb(90, 6, 90);
}

#image-1:hover {
    transform: scale(1.15) rotate(360deg);
    outline: .65rem solid rgb(227, 252, 0);
    outline-offset: .5rem;
    box-shadow: 0rem 0rem 0rem;
    background-color: rgb(102, 102, 8);
    transition: all 0.6s ease-in-out 0s;
}

#image-5:hover {
    transform: scale(1.15) rotate(360deg);
    outline: .65rem solid rgb(236, 212, 212);
    outline-offset: .5rem;
    box-shadow: 0rem 0rem 0rem;
    background-color: rgb(65, 62, 62);
    transition: all 0.6s ease-in-out 0s;
}

#image-9:hover {
    transform: scale(1.15) rotate(360deg);
    outline: .65rem solid rgb(218, 7, 7);
    outline-offset: .5rem;
    box-shadow: 0rem 0rem 0rem;
    background-color: rgb(117, 6, 28);
    transition: all 0.6s ease-in-out 0s;
}

.animation {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin: 0 auto;
    animation: move 3.85s infinite;
    position: absolute;
}

.breakpoint {
    margin-bottom: 9rem;
}

@keyframes move {
    0% {
        left: 80%;
        right: 20%;
        background-color: rgb(201, 22, 22);
    }

    50% {
        right: 80%;
        left: 20%;
        background-color: rgba(24, 253, 16, 0.897);
    }

    100% {
        left: 80%;
        right: 20%;
        background-color: rgb(224, 16, 16);
    }
}